<!-- Header -->
<header id="header" class="bg-white sticky-white">

    <div class="container">

        <!-- Logo -->
        <%= link_to root_path, class:'logo logo-default bg-red dark' do %>
        <span class="main"><strong>Black</strong>Loot</span><span class="hover"><strong>Black</strong>Loot</span>
        <% end %>
        <!-- Menu Trigger -->
        <a href="#" class="pull-right header-element hidden-lg" data-target="mobile-nav"><i class="ti-menu"></i></a>
        <!-- Sep -->
        <span class="header-sep pull-right hidden-lg"></span>
        <!-- Countdown -->
        <a href="index.html" class="pull-right hidden-mobile logo logo-default bg-red dark"><span class="main"><strong>2 </strong>Days left</span><span class="hover">2 : 12 : 23 : 45</span></a>
            <span></span><span></span><span></span><span></span><span></span>
        
        <!-- Sep -->
        <span class="header-sep pull-right hidden-mobile"></span>
        <!-- Social Icons -->
        <ul class="social-icons pull-right hidden-xs">
            <li><a href="#"><span><i class="fa fa-facebook"></i></span><span><i class="fa fa-facebook"></i></span></a></li>
            <li><a href="#"><span><i class="fa fa-twitter"></i></span><span><i class="fa fa-twitter"></i></span></a></li>
            <li><a href="#"><span><i class="fa fa-youtube"></i></span><span><i class="fa fa-youtube"></i></span></a></li>
        </ul>
        <!-- Sep -->
        <span class="header-sep pull-right hidden-xs"></span>
        <!-- Navigation -->
        <nav id="main-menu" class="pull-right visible-lg">
            <ul class="nav nav-main dropdown-dark pull-left">
                <li>
                   <%= link_to '#home' do %>
                    <span>Loot Now !</span><span>Loot Now !</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to '#about' do %>
                    <span>How it works</span><span>How it works</span>
                    <% end %>
                </li>
                <li>
                    <%= link_to '#contact' do %>
                    <span>Contact us</span><span>Contact us</span>
                    <% end %>
                </li>
            </ul>
        </nav>

    </div>

</header>
<!-- Header / End -->
<!-- Section - Diagonal (top) -->
<section id="section-id" class="section section-bent bg-red dark">

    <div class="section-bottom bg-red"></div>

    ...

</section>
<!-- Section - Diagonal (top) / End -->

<!-- Section - Default -->
<section id="section-id" class="section bg-orange dark padding-t-bent padding-b-bent">

    <!-- BG Image -->
    <div class="bg-image"><img src="..." alt="..."></div>

    ...

</section>
<!-- Section - Default / End -->

<!-- Section - Diagonal (both) -->
<section id="section-id" class="section section-bent bg-white dark">

    <div class="section-top bg-white"></div>
    <div class="section-bottom bg-white"></div>

    ...

</section>
<!-- Section - Diagonal (top) / End -->