<!-- Section - Newsletter -->
<section id="contact" class="section section-bent bg-red dark">

<div class="section-top bg-red"></div>

<div class="container">

    <div class="row margin-b-50">
        <div class="col-lg-8 col-lg-push-2">
            <div class="text-center margin-b-30">
                <h1 class="margin-b-0"><strong>Sign up</strong> to our monthly newsletter</h1>
                <h5>Get awesome <strong>free stuff</strong> each first day of the month!</h5>
            </div>
            
            <%= form_for @reader, :remote => true do |f| %>
            <form class="basic-form">
                
            
                    <div class="form-alert form-error alert alert-default" id="new-reader-fail">Oops... please fill the form.</div>
                    <div class="form-alert form-error alert alert-default" id="new-reader-success">Thank you for registering.</div>
                    
                    
                    <div class="row" id="signInForm">
                      
                    <div class="col-md-9">
                            
                        <div class="form-group" id="reader-email">
                            <%= f.text_field :email, class: 'form-control input-lg', placeholder: 'E-mail address...' %>
                        </div>
                        
                    </div>
                        
                    <div class="col-md-3">
                        <%= f.submit "Sign in", class: 'btn btn-block btn-black btn-lg btn-filled', id: 'sign-in-btn' %>
                    </div>
                        
                        </div>
                    </div>
                </div>
            </form>
    <% end %>
</div>